<appSettings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="log4net.Config" value="log4net.config"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PreserveLoginUrl" value="true" />

  <!-- Company Settings-->
  <add key="CompanyName" value="Configuration\header.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="CompanyDescription" value="/" />
  <add key="CompanyClientId" value="9"/>
  <!-- For client-specific styling, please amend custom.css -->
  <add key="UserAuthADGroup" value="Analytics_HenryPelham" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="HideNonReportDirectory" value="True" />

  <!-- Report Settings-->
  <add key="ReportsDomain" value="Bottlitix" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="ReportsFolderPath" value="/Pelham" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="ReportsDefaultReportPath" value="/Reports/Swig/Report_by_Brand"/>
  <add key="ReportsURL" value="http://btxprdsql1:5454/reportserver" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="DefaultReportImage" value="reportImage.png" />
  <add key="DefaultReportImageFolder" value="/Content/Images" />

  <!-- Required by Microsoft ReportViewer control -->
  <add key="MvcReportViewer.AspxViewer" value="/MvcReportViewer.aspx" />
  <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
  <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html"/>
  <add key="MvcReportViewer.ShowErrorPage" value="True"/>
  <add key="MvcReportViewer.ReportServerUrl" value="http://btxprdsql1:5454/reportserver" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="MvcReportViewer.Username" value="ssrs_exec" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="MvcReportViewer.Password" value="XQ0OV^6n4=0F7)R" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  <add key="MvcReportViewer.EncryptParameters" value="False" />
  <add key="MvcReportViewer.IsAzureSSRS" value="false" />
  <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />

  <!-- Sql Connection Setting -->
  <add key="SqlCommandTimeOut" value="240"/>
</appSettings>