<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="contactsDB" connectionString="Server=tcp:sonarsql5qe3fgntzgz4a.database.windows.net,1433;Initial Catalog=ContactsDB;Persist Security Info=False;User ID=orm_user;Password=dapper3@#1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="SWIG_DW" providerName="System.Data.SqlClient" connectionString="Server=dsidsw935;Database=SWIG_DW;User ID=btx_user;Password=btxuser" />
    <add name="SWIG_DW_SSAS" connectionString="Data Source=dsidsw935;Initial Catalog=Bottlitix_HenryOfPelham_Ontario;User ID=btx_user;Password=btxuser" />
  </connectionStrings>
  <appSettings>
    <add key="CompanyClientId" value="9" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
